<div>
  <nav>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/emplyee" routerLinkActive="active">Employee</a></li>
      <li><a routerLink="/student" routerLinkActive="active">Student</a></li>
        <li><a routerLink="/college" routerLinkActive="active">College</a></li>
        <li><a routerLink="/tddform" routerLinkActive="active">TDDFORM</a></li>
        <li><a routerLink="/form-temp"routerLinkActive="active">FormTemp</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet> <!-- Render routed components here -->
</div>